@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@font-face {
    font-family:Dream-Avenue;
    src: url(../fonts/Dream-Avenue.ttf);
}
  
.logo-font {
    font-family: Dream-Avenue;
    font-size: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.btn-green {
    color: #fff;
    background-color: #2B5336;
    border-color: #2B5336;
}
.btn-green:hover, .btn-green:focus {
    color: #fff;
    background-color: #1e3b26;
    border-color: #1e3b26;
}

.bg-green {
    background-color: #2B5336;
}

.outer-content {
    max-height: 400px;
}

.inner-content {
    width: 776px;
    height: 1122px;
    font-size: 0.6rem;
    line-height: 0.1;
}

.rotulo {
    height:280px;
}